{% extends 'base.html.twig' %}

{% block title %}Clubs sport{% endblock %}

{% block body %}
<div class="detail-body {{club.categories.name|lower}}">

<main class="details-page">

            <div class="main-infos-container">
                {# club name and discipline #}
                <div class="club-name">
                    <h2 class="detail-title">{{club.name}}</h2>
                    <h3>{{club.discipline|upper}}</h3> 
                    <h4>{{club.categories.name}}</h4>
                </div>

                {# club address details  #}
                <div class="address">
                    <div class="map-icon">
                           
                            <div class="">

                                <p> {{club.address ? club.address : ''}} </p>
                                <p> {{club.district ? club.district : ''}} </p>
                                {% if club.postalCodes %}
                                <p>CP: {{club.postalCodes}}</p>
                                {% else %}
                                <p class="text-white">
                                    Pas d'adresse Disponible :-(
                                    </p>
                                    {% endif %}
                            </div>
                            <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <hr class="sepa-address">
                    <div class="stadium">
                        {% if club.complex %}
                        <img src="{{asset('images/stadium.png')}}" alt="stadium" width="96">
                        <h4 class="mt-3">
                            {{club.complex}} 
                        </h4>
                        {% endif %}
                    </div>
                    {# <h4>{{club.category}}</h4> #}
                </div>
            </div>
          
                        <hr>
                            
                        {% if club.weblink != '' %}
                            {# <div class="web-link"> #}
                                <a href="{{"http://" ~ club.weblink}}" class="web-link" title="Voir le Site Web" target="_new">
                                    {{club.weblink}}
                                </a>
                            {# </div>     #}
                        {% endif %}

                        <div class="specifics">
                            <p>
                                Séniors:
                                {% if club.seniors is defined %}
                                    {% if club.seniors %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% elseif not club.seniors %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                                    {% else %}
                                    <span class="text-dark"> <i class="far fa-question-circle"></i></span>
                                {% endif %}
                            </p>

                            <p>
                                Adultes:
                                    {% if club.adults %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                               
                            </p>

                            <p>
                                Juniors 16-20 ans:
                                    {% if club.j16to20 %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                            </p>

                             <p>
                                Juniors 12-15 ans:
                                {% if club.j12to15 %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </p>
                            <p>
                                Juniors 6-12 ans:
                                    {% if club.j6to12 %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                              
                            </p>
                            <p>
                                Juniors 3-6 ans:
                                    {% if club.j3to6 %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                             
                            </p>
                            <p>
                                Juniors 0-3 ans:
                                    {% if club.j0to3 %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                             
                            </p>
                            <p>
                                Handicapés:
                                {% if club.handicap is defined  %}
                                    {% if club.handicap %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                                {% else %}
                                <span class="text-dark"> <i class="far fa-question-circle"></i></span>
                                {% endif %}
                            </p>
                                <p>
                                    Corpo:
                                        {% if club.corpo %}
                                        <i class="fas fa-check-circle text-success"></i>
                                        {% else %}
                                        <i class="fas fa-times text-danger"></i>
                                        {% endif %}
                                  
                                </p>   
                        </div>
                   

    </main>
</div>
{% endblock %}
