{% extends 'base.html.twig' %}

{% block title %}Clubs sport{% endblock %}

{% block body %}
<div class="detail-body">


<main class=" details-page">

        <div class="only-club-detail">

            <div class="name-and-discipline">
                <div class="pennant">
                    <h2 class="detail-title">{{club.name}}</h2>
                    <h3 class="">
                        {{club.discipline|upper}}
                    </h3>
                </div>
                <div class="picture">
                    {% if "Combat" in club.category %}
                    <img src="{{asset('images/karate.svg')}}" alt="sport pic" width="240">

                    {% elseif "sports collectifs" in club.category|lower %}
                    <img src="{{asset('images/ball.png')}}" alt="sport pic" width="240">
                    </h4>
                    {% endif %}
                    <hr>
                    <h4>{{club.category}}</h4>
                </div>
            </div>
          

                        <hr class="w-75 even">
                        
                        {% if club.complex %}
                             <h4><img src="{{asset('images/stadium2.png')}}" alt="stadium" width="76" >
                            {{club.complex}} </h4>
                        {% endif %}
                            
                            <hr class="w-75 odd">
                            <div class="row w-50 m-auto">
                                <div class="col-4">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                                <div class="col-8">
                                    <p> {{club.address ? club.address : ''}} </p>
                                    <p> {{club.district ? club.district : ''}} </p>
                                    <p>CP: {{club.postalCodes}}</p>
                                </div>
                            </div>
                            <hr class="w-75 even">
                            
                        {% if club.weblink != '' %}
                            <div class="web-link">
                                <a href="{{"http://" ~ club.weblink}}" class="" target="_new">
                                    {{club.weblink}}
                                </a>
                            </div>    
                        {% endif %}

                        <div class="specifics shadow">

                            <p>
                                Séniors:
                                {{club.seniors}}
                                {% if club.seniors is defined %}
                                    {% if club.seniors %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% elseif not club.seniors %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                                    {% else %}
                                    <span class="text-dark"> <i class="far fa-question-circle"></i></span>
                                {% endif %}
                            </p>

                            <p>
                                Adultes:
                                    {% if club.adults %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                               
                            </p>

                            <p>
                                Juniors 16-20 ans:
                                    {% if club.j16to20 %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                            </p>

                             <p>
                                Juniors 12-15 ans:
                                {% if club.j12to15 %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </p>
                            <p>
                                Juniors 6-12 ans:
                                    {% if club.j6to12 %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                              
                            </p>
                            <p>
                                Juniors 3-6 ans:
                                    {% if club.j3to6 %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                             
                            </p>
                            <p>
                                Handicapés:
                                {{club.handicap}}
                                {% if club.handicap is defined  %}
                                    {% if club.handicap %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                                {% else %}
                                <span class="text-dark"> <i class="far fa-question-circle"></i></span>
                                {% endif %}
                            </p>
                                <p>
                                    Corpo:
                                        {% if club.corpo %}
                                        <i class="fas fa-check-circle text-success"></i>
                                        {% else %}
                                        <i class="fas fa-times text-danger"></i>
                                        {% endif %}
                                  
                                </p>   
                        </div>
                   

            </div>
</main>
</div>
{% endblock %}
