{% extends 'base.html.twig' %}

{% block title %}Clubs sport{% endblock %}

{% block body %}
<div class="body">

<div class="container-fluid">
        
        <h2>Trouve un club de sport dans ton quartier ! </h2>
        
        <main class="main row">
            
            {% include "texts.html.twig" %}

                {% include "map.html.twig" %}
                 
           
            <div class="form">
                
               <div class="mb-5 pb-3">
                <input type="checkbox" name="Toute la Ville" id="all">
                <label for="all">Toute la Ville</label> 
               </div>
               
                {{form_start(form)}}
                {{form_row(form.q)}}
                {{form_row(form.categories)}}
                <div class="postals hidden">
                    {{form_row(form.postals)}}
                </div>

                <input type="submit" value="Chercher" class="text-white btn btn-dark">
                {{form_end(form)}}
            </div>
            
        </main>
        
        {# // end container-fluid #}
    </div>

</div>

    {% endblock %}
    