{% extends 'base.html.twig' %}

{% block title %}Clubs sport{% endblock %}

{% block body %}
<div class="body">

<div class="container-fluid">
        
        <h2>Trouve un club de sport dans ton quartier ! </h2>
        
        <main class="main row">
            
            {% include "texts.html.twig" %}
            {% include "map.html.twig" %}
            
            <div class="form">
                
                {{form_start(form)}}
                {{form_row(form.q)}}
                {{form_row(form.categories)}}
                <div class="postals hidden">
                    {{form_row(form.postals)}}
                </div>

                <input type="submit" value="Chercher" class="text-white btn btn-dark">
                {{form_end(form)}}
            </div>
            
        </main>
        
        <div id="results" class="bg-light">
            {% for club in filters %}
            <h2>  {{club.name}}</h2>
            <h2>  {{club.discipline}}</h2>
            {% endfor %}
        </div>
        
        {# // end container-fluid #}
    </div>
</div>

    {% endblock %}
    