{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}


<div class="container results">

    {% for postal in postals %}

 <h2 class="">  Clubs de {{key}} dans le {{postal.number}} :</h2>
        <main class="club-list">


            {% for club in clubs %}
               {% if club.postalCodes.number == postal.number %}

                    <div class="club-detail">
                        <h3> <a href="{{path('detail', {'id': club.id})}}"> 
                            {{club.name|upper}}  </a>
                        </h3>
                        <h4>{{club.discipline|title}}</h4>
                        <h4>{{club.district}}</h4>
                        <h4>{{club.postalCodes.number}}</h4>
                       
                    </div> 
       
                    {% endif %}
               
            {% endfor %}
            {% endfor %}

        </main>


        {# {% endif %} #}
    {# {% endfor %} #}
                
</div>

{% endblock %}