{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}
<div class="results-body">
        
    <main class="container results">

{# 
    {% for postal in data.postals %}

     <h2 class="">Résultats pour
        {% if sport %}
            "<span class="text-danger">{{sport}}</span> "
            {% endif %}
        {# {% if categories %}
            "<span class="text-danger">{{categories}}</span> "
        {# {% endif %} #}
            {# dans le <span class="text-danger"> {{postal.number}} </span> :
     </h2>    

        {% if not filtered %}
            <div class="m-5 p-5">
                <h2> no res for {{sport}} in  {{postal.number}}</h2>
            </div>
            {% endif %}
           
            {% endfor %} #} 



    
    {% if filtered is empty %}
            <div class="empty-result">
                
                <h2> no res for {{sport}} in  {{postal.number}}</h2>

            </div>
    
    {% endif %}
    
    {% for item in filtered %}
    
    <h2 class="text-white">{{item.sportClubs|length}} Results for <span class="text-danger">"{{sport|upper}}"</span>
             in <span class="text-danger"> {{item.number}}</span> </h2>
    <div class="club-list mt-4">
            {% for club in item.sportClubs %}

                <a href="{{path('detail', {'id': club.id})}}" title="Détails du club"> 
                    
                    <div class="club-detail">
                        <h3> {{club.name|upper}}</h3>
                        <hr>
                        <h4>{{club.discipline|title}}</h4>
                        <hr>
                        <h5>{{club.district}}</h5>
                        <h5 class="postal">{{club.postalCodes.number}}</h5>
                    </div> 
                </a>
         
                
                {% endfor %}
            </div>  
            {% endfor %}
            
    </main>
</div>
{% endblock %}